global
    maxconn 100

defaults
    log global
    mode tcp
    retries 2
    timeout client 30m
    timeout connect 4s
    timeout server 30m

listen stats
    mode http
    bind *:7000
    stats enable
    stats uri /

listen postgres_primary
    bind *:5432
    option httpchk OPTIONS /master
    server pg1 pg-node1:5432 maxconn 100 check port 8008
    server pg2 pg-node2:5432 maxconn 100 check port 8008
    server pg3 pg-node3:5432 maxconn 100 check port 8008
